<!--描述：注册表单-->
<style>
	.required{
		color: red;
	}
	.form-control-feedback{
		right:16px;
	}
</style>

     <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">个人中心</h3>
        </div>
       <!-- /.box-header -->        
		<div class="alert alert-warning alert-dismissible" role="alert" ng-show="registerState.regFail">
  			<strong>注意!</strong> 修改失败.
		</div>
		<div class="alert alert-success" role="alert" ng-show="registerState.regSuccess">
  			<a ui-sref="login" class="alert-link">修改成功，3秒后跳转到登陆页面</a>
		</div>
        <!-- form start -->
   		 <form class="form-horizontal" name="registerForm"  ng-submit="submit()">
             <div class="box-body">            	
                <!--密码-->
				<div class="form-group">                 	                
			    	<label for="password" class="col-sm-2 control-label">密码<span class="required">(必填)</span></label>
					<div class="col-sm-10">						
        				<input type="password" class="form-control" placeholder="密码"
        						name="password"
        						ng-model="credentials.password" 
        						required>
        				<span class="fa fa-key form-control-feedback "></span>      					   					
					</div>
				</div>
				<div class="error"
		     		ng-show="(submitted  || registerForm.password.$dirty)  && registerForm.password.$invalid">
		    		<p class="error" ng-show="registerForm.password.$error.required">账号不能为空</p>
				</div>
				<!--密码-->
				
				<!--确认密码-->
				<div class="form-group">                 	                
			    	<label for="repassword" class="col-sm-2 control-label">再次确认密码<span class="required">(必填)</span></label>
					<div class="col-sm-10">						   					
        				<input type="password" class="form-control" placeholder="再次确认密码" 
        						name="repassword"
        						required>
        				<span class="fa fa-sign-in form-control-feedback "></span>        				
    			    </div>
     			 </div>
     			 <!--<div class="error"
		           ng-show="(submitted  || registerForm.repassword.$dirty)  && (registerForm.password！=registerForm.repassword)">
		          <p class="error" ng-show="registerForm.repassword.$error.required" >密码不一致</p>
		         </div>-->
		        <!--确认密码-->
              <!-- /.box-body -->
              <div class="box-footer">
                <a ui-sref="home" class="text-center">返回首页</a>
                <button type="submit" class="btn btn-primary pull-right"ng-disabled="registerForm.$invalid">保存</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>

<script>
	$(function() {
	$('input').iCheck( {
		checkboxClass: 'icheckbox_square-blue', radioClass: 'iradio_square-blue', increaseArea: '20%' // optional
	}
	);
}

);</script>
