<form ng-submit="query()">
<div class="form-group col-md-5">
	<label class="col-sm-3">开始时间:</label>
	<div class="input-group date col-sm-8">
		<div class="input-group-addon">
			<i class="fa fa-calendar"></i>
		</div>
		<input type="text" class="form-control pull-right " id="datepicker1" ng-model="fromTime">
	</div>
</div>

<div class="form-group col-md-5">
	<label class="col-sm-3">结束时间:</label>
	<div class="input-group date col-sm-8">
		<div class="input-group-addon">
			<i class="fa fa-calendar"></i>
		</div>
		<input type="text" class="form-control pull-right " id="datepicker2" ng-model="toTime" >
	</div>
</div>
            	
            	
 <button type="submit" class="btn btn-primary">查询</button>
</form>

<table id="example1" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>时间</th>
			<th>设备MAC地址</th>
			<th>步数</th>
			<th>行走距离(m)</th>
			<th>心率(/分钟)</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in lists">
			<td>{{item.commitTime}}</td>
			<td>{{item.device}}</td>
			<td>{{item.step}}</td>
			<td> {{item.distance}}</td>
			<td>{{item.heart}}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>commitTime</th>
			<th>device</th>
			<th>step</th>
			<th>distance</th>
			<th>heart</th>
		</tr>
	</tfoot>
</table>
              
<script>
	$(function() {
			$("#datepicker1").datepicker({
				language: "zh-CN",
				autoclose: true, //选中之后自动隐藏日期选择框
				clearBtn: true, //清除按钮
				todayHighlight: true,
				//          todayBtn: true,//今日按钮,这个点击了没反应，有bug
				format: "yyyy-mm-dd" //日期格式，详见 http://bootstrap-datepicker.readthedocs.org/en/release/options.html#format
			});
			$("#datepicker2").datepicker({
				language: "zh-CN",
				autoclose: true, //选中之后自动隐藏日期选择框
				clearBtn: true, //清除按钮
				todayHighlight: true,
				//          todayBtn: true,//今日按钮,这个点击了没反应，有bug
				format: "yyyy-mm-dd" //日期格式，详见 http://bootstrap-datepicker.readthedocs.org/en/release/options.html#format
			});// 
//  $('#example1').DataTable({
//    "paging": true,
//    "lengthChange": true,
//    "searching": false,
//    "ordering": false,
//    "info": true,
//    "autoWidth": false
//  });
});
</script>     