<!--
	作者：林瑞玉
	时间：2017-02-24
	描述：侧边栏
-->	
<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="images/avatar2.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{user.name}}</p>
          <i class="fa fa-circle text-success"></i> Online
        </div>
      </div>
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <!--<li class="header">MAIN NAVIGATION</li>-->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>测量数据</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="home.measuredata"><i class="fa fa-circle-o"></i> 测量历史</a></li>
            <li><a ui-sref=".page2"><i class="fa fa-circle-o"></i>睡眠数据</a> </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i> <span>数据统计</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#/"><i class="fa fa-circle-o"></i> 运动数据</a></li>
            <li><a href="#/"><i class="fa fa-circle-o"></i>睡眠数据</a> </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#/">
            <i class="fa fa-edit"></i> <span>数据统计</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#/"><i class="fa fa-circle-o"></i> 运动数据</a></li>
            <li><a href="#/"><i class="fa fa-circle-o"></i>睡眠数据</a> </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i> <span>数据统计</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#/"><i class="fa fa-circle-o"></i> 运动数据</a></li>
            <li><a href="#/"><i class="fa fa-circle-o"></i>睡眠数据</a> </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i> <span>数据统计</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#/"><i class="fa fa-circle-o"></i> 运动数据</a></li>
            <li><a href="#/"><i class="fa fa-circle-o"></i>睡眠数据</a> </li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>