<style>
	.choice-li{
		border: 1px solid #ddd;
        border-radius: 10px;
	}
	.active{
		background-color: gray;
	}
</style>
<div class="row">
        <div class="col-xs-12">
          
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">测量历史</h3>
            </div>
            
            <div class="box-body">
            	
                <form ng-submit="query()" class="col-md-10">
					<div class="form-group col-md-5">
						<label class="col-sm-4">开始时间:</label>
						<div class="input-group date col-sm-8">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input type="text" class="form-control pull-right " id="datepicker1" ng-model="fromTime">
						</div>
					</div>

					<div class="form-group col-md-5">
						<label class="col-sm-4">结束时间:</label>
						<div class="input-group date col-sm-8">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
						<input type="text" class="form-control pull-right " id="datepicker2" ng-model="toTime" >
						</div>
					</div>
            	
            	
 					<button type="submit" class="btn btn-primary">查询</button>
				</form>
				
				<ul class="nav nav-pills col-md-offset-10">  
					<li ng-click="select('table')" class="{{actives['table']}} choice-li">
						<a href="javascript:void(0);"><i class="fa fa-table" aria-hidden="true">列表</i></a>
						
					</li>
					<li ng-click="select('chart')" class="{{actives['chart']}} choice-li">
						<a href="javascript:void(0);"><i class="fa fa-line-chart" aria-hidden="true">图表</i></a>
					</li>
				</div>
				
				<div ng-if="tabs=='table'">
                    <div p-measuredata-table
                    	from-time="fromTime"
                    	to-time="toTime"
                    	
                    	
                    	>
           			</div>
        		</div>
        		
        		<div ng-if="tabs=='chart'">
                    <div p-measuredata-chart
                    	style="height:350px;"
                    	id="dataChart"
                    	from-time="fromTime"
                    	to-time="toTime"
                    	
                    	>
           			</div>
        		</div>
				              
           </div>           
          </div>          
        </div>        
</div>

<script>
	$(function() {
			$("#datepicker1").datepicker({
				language: "zh-CN",
				autoclose: true, //选中之后自动隐藏日期选择框
				clearBtn: true, //清除按钮
				todayHighlight: true,
				//          todayBtn: true,//今日按钮,这个点击了没反应，有bug
				format: "yyyy/mm/dd" //日期格式，详见 http://bootstrap-datepicker.readthedocs.org/en/release/options.html#format
			});
			$("#datepicker2").datepicker({
				language: "zh-CN",
				autoclose: true, //选中之后自动隐藏日期选择框
				clearBtn: true, //清除按钮
				todayHighlight: true,
				//          todayBtn: true,//今日按钮,这个点击了没反应，有bug
				format: "yyyy/mm/dd" //日期格式，详见 http://bootstrap-datepicker.readthedocs.org/en/release/options.html#format
			});// 
//  $('#example1').DataTable({
//    "paging": true,
//    "lengthChange": true,
//    "searching": false,
//    "ordering": false,
//    "info": true,
//    "autoWidth": false
//  });
});
</script>     